jenkins:
  systemMessage: Welcome to our Jenkins CI/CD Server
  numExecutors: 2
  mode: NORMAL
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_user }}"
          password: "{{ jenkins_password }}"
jobs:
  - script: >
      pipelineJob('Sports_App_Job') {
        definition {
            cpsScm {
                scm {
                    git {
                        remote {
                            url 'https://github.com/alancovarrubias/sports-app.git'
                        }
                        branches('*/main')
                        scriptPath 'Jenkinsfile'
                    }
                }
            }
        }
      }

credentials:
  system:
    domainCredentials:
      - credentials:
          - aws:
              scope: GLOBAL
              id: "aws-access-key-id"
              accessKey: "${AWS_ACCESS_KEY}"
              secretKey: "${AWS_SECRET_ACCESS_KEY}"
              description: "AWS Credentials"