apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: server
  name: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: registry.digitalocean.com/sports/server:dev
          ports:
            - containerPort: 4000
      imagePullSecrets:
        - name: registry-sports
