apiVersion: apps/v1
kind: Deployment
metadata:
  name: sidekiq
  labels:
    app: sidekiq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sidekiq
  template:
    metadata:
      labels:
        app: sidekiq
    spec:
      containers:
        - name: sidekiq
          image: registry.digitalocean.com/sports/football:dev
          command: ["bundle", "exec", "sidekiq"]
          env:
            - name: REDIS_URL_SIDEKIQ
              value: redis://redis:6379/1
      imagePullSecrets:
        - name: registry-sports
