apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: crawler
  name: crawler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crawler
  template:
    metadata:
      labels:
        app: crawler
    spec:
      containers:
        - name: crawler
          image: "{{ registry_name }}/crawler:{{ env }}"
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "300m"
              memory: "768Mi"
            limits:
              cpu: "1000m"
              memory: "1.5Gi"
      imagePullSecrets:
        - name: registry-sports
