apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: client
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: "{{ domain_name }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: client
                port:
                  number: 80
