apiVersion: apps/v1
kind: Deployment
metadata:
  name: sidekiq
  labels:
    app: sidekiq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sidekiq
  template:
    metadata:
      labels:
        app: sidekiq
    spec:
      containers:
        - name: sidekiq
          image: "{{ registry_name }}/football:{{ env }}"
          command: ["bundle", "exec", "sidekiq"]
          resources:
            requests:
              cpu: "300m"
              memory: "768Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"
          env:
            - name: RAILS_ENV
              value: "production"
            - name: RAILS_LOG_TO_STDOUT
              value: "true"
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: rails-secrets
                  key: secret_key_base
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: database-url
                  key: DATABASE_URL
            - name: REDIS_URL_SIDEKIQ
              valueFrom:
                secretKeyRef:
                  name: cache-url
                  key: CACHE_URL
            - name: SIDEKIQ_CONCURRENCY
              value: "8"
            - name: RAILS_MAX_THREADS
              value: "10"
      imagePullSecrets:
        - name: registry-sports
