- name: Setup server
  hosts: all
  gather_facts: no
  roles:
    - setup_server
    - setup_docker
    - role: setup_ssh_config
      vars:
        server_name: "mercor"
        env_var: "MERCOR_IP"

- name: Setup mercor
  hosts: all
  gather_facts: no
  become: yes
  roles:
    - setup_mercor
