---
# tasks file for setup_ssh_config
- name: Generate SSH Config File
  template:
    src: ssh_config
    dest: ~/.ssh/{{ server_name }}
  delegate_to: localhost
  tags:
    - setup

- name: Create ssh config file
  ansible.builtin.file:
    path: ~/.ssh/config
    state: touch
  delegate_to: localhost
  tags:
    - setup

- name: Adding the path in the config files
  lineinfile:
    dest: ~/.ssh/config
    regexp: ^Include \./{{ server_name }}
    line: Include ./{{ server_name }}
    state: present
  delegate_to: localhost
  tags:
    - setup

- name: Check if startup file exists
  ansible.builtin.stat:
    path: ~/.zshrc
  delegate_to: localhost
  register: z_startup_file
  tags:
    - setup
