---
- name: Adding env in the startup files
  lineinfile:
    dest: ~/.zshrc
    regexp: ^export KUBE_ID=
    line: export KUBE_ID={{ kube_id }}
    state: present

- name: Show the kube_id
  debug:
    var: kube_id

- name: Save kubeconfig locally
  command: doctl kubernetes cluster kubeconfig save {{ kube_id }}

- name: Login to registry
  shell: doctl registry login

- name: Tag images for DOCR
  shell: |
    docker tag {{ item }}:dev registry.digitalocean.com/{{ registry_name }}/{{ item }}:dev
  loop: "{{ custom_services }}"

- name: Push images
  shell: |
    docker push registry.digitalocean.com/{{ registry_name }}/{{ item }}:dev
  loop: "{{ custom_services }}"

- name: Deploy config map to Kubernetes
  shell: kubectl apply -f {{ role_path }}/files/k8s/nginx-configmap.yaml

- name: Deploy config map to Kubernetes
  shell: kubectl apply -f {{ role_path }}/files/k8s/db-pvc.yaml

- name: Deploy service to Kubernetes
  shell: kubectl apply -f {{ role_path }}/files/k8s/{{ item }}-service.yaml
  loop: "{{ all_services }}"

- name: Deploy deployment to Kubernetes
  shell: kubectl apply -f {{ role_path }}/files/k8s/{{ item }}-deployment.yaml
  loop: "{{ all_services }}"
